PORT=5000
NODE_ENV=development

# MongoDB Connection URI (Replace with your MongoDB Atlas or Local MongoDB connection string)
DATABASE_URL="mongodb://localhost:27017/lumina_skin"

# Security Secrets
JWT_SECRET="replace_with_your_super_secret_jwt_key"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="https://bareo-cosmetics.vercel.app,http://localhost:5173"

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=j9yeiuld
CLOUDINARY_API_KEY=456118734531289
CLOUDINARY_API_SECRET=bW37BNcKaWx1wSu-NHmYzLhfqn8
